img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.mat-column-avatar_url {
  width: 10px;
}

tr {
  height: 100px;
}

.login {
  font-weight: 500;
  color: rgb(9, 105, 218);
  cursor: pointer;
}
