<table mat-table [dataSource]="repositories" *ngIf="repositories.length > 0">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <h3>{{ element.name }}</h3>
      <p>{{ element.description }}</p>

      <mat-chip-set aria-label="Topics">
        <mat-chip *ngFor="let topic of element.topics" class="chip">
          {{ topic }}
        </mat-chip>
      </mat-chip-set>

      <div class="flex-div">
        <span *ngIf="element.language">{{ element.language }}</span>
        <span class="flex-span" *ngIf="element.stargazers_count"
          ><mat-icon>star_border</mat-icon> {{ element.stargazers_count }}</span
        >
        <span class="flex-span"
          >Updated on {{ element.updated_at | date }}</span
        >
        <span class="flex-span" *ngIf="element.forks"
          ><mat-icon>mediation</mat-icon>{{ element.forks }}</span
        >
      </div>
    </td>
  </ng-container>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<div class="pagination" *ngIf="repositories.length > 0">
  <button
    mat-button
    (click)="fetchReposByLink('prev')"
    disabled="{{ !parsedLinks['prev'] }}"
  >
    <mat-icon>chevron_left</mat-icon>Previous
  </button>
  <button
    mat-button
    (click)="fetchReposByLink('next')"
    disabled="{{ !parsedLinks['next'] }}"
  >
    Next
    <mat-icon iconPositionEnd>navigate_next</mat-icon>
  </button>
</div>

<div *ngIf="repositories.length === 0" class="no-repo">
  {{ this.user }} doesn't have any public repositories yet.
</div>
