<app-navbar></app-navbar>
<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<div class="container">
  <app-profile [profile]="profile" class="sm-profile"></app-profile>
  <mat-tab-group animationDuration="0ms" *ngIf="profile">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon fontSet="material-icons-outlined">auto_stories</mat-icon>
        Overview
      </ng-template>
      <div class="content">
        <ng-container *ngTemplateOutlet="tabContent"></ng-container>
        <app-overview [user]="user"></app-overview>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon fontSet="material-icons-outlined">book</mat-icon>
        Repositories &nbsp;
        <mat-chip *ngIf="profile.public_repos">{{
          profile.public_repos
        }}</mat-chip>
      </ng-template>
      <div class="content">
        <ng-container *ngTemplateOutlet="tabContent"></ng-container>
        <app-repositories [user]="user"></app-repositories>
      </div>
    </mat-tab>
  </mat-tab-group>
  <h2 *ngIf="isError">User not found. Please check the username.</h2>
</div>

<ng-template #tabContent>
  <app-profile [profile]="profile" class="lg-profile"></app-profile>
</ng-template>
